antlr-3.2.jar
asm-3.1.jar
commons-lang-2.4.jar
datanucleus-core-2.0.0-release.jar
datanucleus-enhancer-2.0.0-release.jar
datanucleus-rdbms-2.0.0-release.jar
derby.jar
jdo2-api-2.3-ec.jar
json_simple-1.1.jar
